<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whatsapp chats</title>
    <link rel="stylesheet" href="/style.css">

</head>

<body>
    <!-- <h1>
     
    </h1> -->
    <h1>ALL CHATS ARE HERE</h1>
    <form method="get" action="/chats/new">
        <button> Add New Chat</button>
    </form>
    <div id="allchats">
        <% for(var i=0;i<chats.length;i++) { %>

            <p>ID:-
                <%= chats[i].id %>
            </p>
            <p>FROM:-
                <%= chats[i].from %>
            </p>
            <p>TO:-
                <%= chats[i].to %>
            </p>
            <p>MESSAGE:-
                <%= chats[i].message %>
            </p>
            <p>TIME:-
                <%= chats[i].date.toString().split(" ")[4] %>
            </p>
            <p>DATE:-
                <%= chats[i].date.toString().split(" ").slice(0,4).join(" ") %>
            </p>
            <form action=" /chats/<%=chats[i].id %>/edit" method="get">
                    <button>Edit Message</button>
                    </form>
                    <form method="post" action="/chats/<%= chats[i]._id %> ?_method=delete">
                        <button>delete</button>
                    </form>
                    <hr color=" black">
                    <% } %>
    </div>





</body>

</html>